* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;

    --main-color: #162E59;
    --secondary-color: #C27E2A;

    --ff: "Roboto", sans-serif;

    --gray-800: #27272a;
    --gray-700: #3f3f46;
    --gray-500: #71717a;
    --gray-300: #d4d4d8;
    --gray-100: #f4f4f5;
    --gray-50: #fafafa;
}

::selection {
    background-color: var(--secondary-color);
    color: var(--gray-100);
}

::-webkit-scrollbar {
    width: 5px;
    background: var(--gray-300);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

body {
    overflow-x: hidden;
    font-family: var(--ff);
    background-color: var(--gray-50);
}

a {
    text-decoration: none;
}

p {
    font-size: clamp(1.25rem, 1.125rem + 0.5vw, 1.75rem);
    line-height: 125%;
}

ul {
    list-style: none;
}

h2 {
    font-size: clamp(1.875rem, 1.656rem + 0.875vw, 2.75rem);
}

.slide-txt, .plano-card, .rede-card {
    background-color: #ffffff;
    border-radius: 20px;
}

#navbar img {
    width: min(30vw, 15rem);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: .75rem 2rem;

    background-color: #C07D2B;

    position: fixed;
    z-index: 9999;
    width: 100vw;
    top: 0;

    transition: all 150ms ease-in-out;

    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

#hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 2.5rem;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
}

#hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

#hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

ul#menu.active {
    left: 0;
}

ul#menu {
    position: fixed;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: -120%;
    top: 11vh;

    padding: 1.5rem 5vw;

    font-size: 1.5rem;
    
    background-color: var(--main-color);
    width: 100%;
    text-align: right;

    transition: 250ms ease;

    z-index: 10;
}

#menu a {
    color: #ffffff;
    font-weight: 300;
}

#menu li {
    padding: 0 1rem;
    transition: 150ms ease;
}

#menu li:hover {
    background-color: var(--secondary-color);
    color: var(--gray-50);
    font-weight: bold;
}

#home {
    margin-top: 9vh;
    width: 100vw;
    height: 60vh;

    position: relative;
    background-image: url("/img/mulher-feliz-posando-foto-media 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C07D2B;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
}


section h2:not(.slide-txt h2) {
    color: var(--main-color);
    text-transform: uppercase;
    border-bottom: 2px solid var(--secondary-color);
    padding: 1vh 5vw;
    width: fit-content;
    margin: 7.5vh auto;
}

section#planos > .cabecalhoPlanos {
    background: var(--main-color);
    color: var(--gray-50);
    position: relative;
    padding: 1rem 0;
}

section#planos > .cabecalhoPlanos > h2 {
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: bold;
}

section#planos > .cabecalhoPlanos > p {
    color: var(--gray-50);
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}



section#planos {
    position: relative;
}

#planoGallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: space-between;
    gap: 5vh;
    padding: 5vh 0;
}

.plano-card {
    padding: 2rem 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    width: min(80vw, 35rem);

    color: var(--gray-500);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.planoLogo img {
    width: min(20vw, 15rem);
}

h3.planoNome {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--gray-700);
    padding-bottom: .75rem;
    border-bottom: 2px solid var(--secondary-color);
}

ul.planoDescricao {
    width: 90%;
    overflow-y: auto;
    max-height: min(30vh, 25rem);
    font-size: clamp(1.15rem, 1.25rem + 0.5vw, 1.5rem);
    line-height: 150%;
    font-weight: 300;

    padding-right: .5rem;
}

ul.planoDescricao li:before {
    content: "✅";
    margin-right: .5rem;
}

.ANSbox {
    background-color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    width: fit-content;
    padding: .15rem .5rem;
    border: 1px double white;
}

h4.planoValor {
    font-size: 4.5rem;
    color: var(--main-color);
}

p.planoPgmento {
    text-align: center;
    font-size: clamp(1rem, 0.875rem + 0.25vw, 1.25rem);
    width: 90%;
}

button.planoEscolher {
    font-weight: 700;
}

button.planoEscolher {
    background-color: var(--main-color);
    border: none;
    border-radius: .5rem;
    padding: .5rem 2.5rem;
    color: var(--gray-50);
    text-transform: uppercase;
    font-size: clamp(1.75rem, 1.656rem + 0.875vw, 2.5rem);
    cursor: pointer;
    transition: 250ms ease;
}

button.planoEscolher:hover {
    background-color: var(--secondary-color);
}

section#contato {
    display: flex;
    width: 100vw;
    min-height: 80vh;
}

section#contato {
    display: flex;
    width: 100vw;
    min-height: 60vh;
    flex-direction: column;
}

section#contato > div > .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

section#contato > div > .col-6 > h2 {
    font-weight: bold;
    font-size: 5rem;
}

section#contato {
    background: var(--secondary-color);
}

#redeCredenciada {
    width: 100%;
}

.imagemFundo {
    background-image: url("/img/retrato-de-mulher-de-negocios-afro-usando-seu-telefone-celular-em-pe-ao-ar-livre-na-rua1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}

.imagemFundo::after {
    content: "";
    position: absolute;
    width: 50%;
    min-height: 60vh;
    background-color: #C07D2B;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
}

.infosRedeCredenciada {
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

h5 {
    font-size: 3rem;
    color:var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
}


section#rede {
    position: relative;
    height: 90vh;
    padding: 5vh 0;
    z-index: -2;
    background-color: var(--secondary-color);
}

section#rede .brazil {
    position: absolute;
    z-index: -1;
    opacity: .75;
    overflow: hidden;
    height: 67.5vh;

    top: 25%;
    left: 15%;
}

section#rede .brazil svg {
    width: 150vw;
    fill: var(--gray-50);
    stroke: var(--gray-300);
}

#rede h2 {
    color: white;
    border-color: white;
}

#redeGallery {
    display: flex;
    justify-items: center;
    gap: 5vh;
    align-items: center;
    flex-direction: column;
}

.rede-card {
    padding: 2rem;

    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: fit-content;
}

button.planoRede {
    background-color: var(--secondary-color);
    border-radius: 50px;
    border: none;
    padding: .5rem 0;
    width: 100%;
    
    font-weight: bold;
    font-size: clamp(1.5rem, 1.25rem + 0.5vw, 1.75rem);
    text-transform: uppercase;

    color: var(--gray-50);

    cursor: pointer;
    transition: 250ms ease;
}

button.planoRede:hover {
    letter-spacing: 1px;
    background-color: var(--secondary-color);
}


button.btnContato {
    background-color: var(--main-color);
    border-radius: 50px;
    border: none;
    padding: 2rem;
    width: fit-content;
    gap: 1rem;
    
    font-weight: bold;
    font-size: clamp(1.5rem, 1.25rem + 0.5vw, 1.75rem);
    text-transform: uppercase;

    color: var(--gray-50);

    cursor: pointer;
    transition: 250ms ease;
}

button.btnContato:hover {
    letter-spacing: 1px;
    color: var(--main-color);
    background-color: var(--gray-50);
}

.row {
    display: flex;
    justify-content: center;
}

a.contatoWPP {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #25D366;
    color: white;
    font-size: clamp(1.25rem, 1.125rem + 0.5vw, 1.75rem);
    text-transform: uppercase;
    font-weight: 500;
    padding: .25rem 2.5rem;
    width: fit-content;
    margin: 0 auto 5vh;
    border-radius: .5rem;
    transition: 250ms ease;
}

a.contatoWPP svg {
    fill: white;
}

a.contatoWPP:hover {
    background-color: #12a748;
}

@media (min-width: 1300px) {
    #planoGallery, #redeGallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media (max-width: 576px) {
    .imagemFundo {
        width: 100%;
    }

    .imagemFundo::after {
        width: 100%;
    }

    .redeCredenciada{
        flex-direction: column;
    }

    .infosRedeCredenciada {
        width: 100%;
        padding: 2rem;
    }

    .infosRedeCredenciada h5 {
        font-size: 2rem;
    }
    .iconeContato {
        width: 50%;
    }

    .contato-col {
        width: 100%;
        min-height: 20vh;
    }

    section#contato {
        min-height: 20vh;
    }

    .contato-col img{
        width: 50%;
    }
}

