:root {
    --CorMHAmarelo: #BE7512;
    --bodyColor: #111827;
    --CorMHAzul: #0E3178;
    --Branco: #ffffff;
    --Cinza: #DCDCDC;
    --formColor: #0E3178;
	--buttonColor: #BE7512;
	--labelColor: #F3F4F6;
	--placeholderColor: #9CA3AF;
	--statusError: #FB7185;
	--borderForm: #374151;
	--nameCardColor: #F9FAFB;
	--borderInputDefault: #374151;
	--borderInputFocus: #BE7512;
}

body {
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    overscroll-behavior-y:auto;
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    background: #0E3178;
    justify-content: center;
}

.modal-backdrop {
    background-color: #ffffff; /* Fundo preto com 80% de opacidade */
}

/* Estilo opcional para o conteúdo do modal */
.modal-content {
    border-radius: 8px;
    background-color: #ffffff;
}

.col-12 {
    padding: 0px;
}

.tudoFormulario {
    display: flex;
    flex-direction: row;
}

.containerFormulario {
    background: #ffffff;
    width: 50vw;
    border-radius: 12px;
}

.forms {
    max-height: 80vh; 
    overflow-y: auto;
    padding: 2rem;
}

.content{
    width: auto;
}

.acoes{
    gap: 20px;
}

.statusEcommerce {
    background: #00c2b8;
}
.statusPagamento {
    background: #7d02cf;
}
.statusDs {
    background: #cfb001
}

.status{
    border-radius: 10px;
    padding: 5px;
    color: #FFF;
    font-weight: 500;
    font-size: 0.8rem;
}

#bodyLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: var(--CorMHAmarelo);
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    font-family: 'Kanit', sans-serif;
}

#bodyImplantacoes {
    background-color: var(--Cinza);
    font-family: 'Kanit', sans-serif;
    padding: 20px;
}

#qtdDependentes {
    background: var(--CorMHAzul);
    padding: 0.5rem;
    border-radius: 5px;
    color: #FFF;
}

#modalCartaoCredito {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    z-index: 9999; /* Certifique-se de que o modal está na frente de outros elementos */
    display: none; /* Inicialmente oculto */
    transition: opacity 0.3s ease;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    padding: 20px;
    border-radius: 5px;
}

.btnAcoes {
    background: #DCDCDC;
    padding: 1rem;
    border-radius: 5px;
}

.contentImplantacoes{
    background: var(--Branco);
    border-radius: 20px;
    padding: 20px;
    font-size: 0.8rem;
}

.containerLogin{
    width: 30%;
    background-color: var(--Cinza); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset;
}

.logoMountHermon {
    position: fixed;
    top: 3px;
    left: 3px;
}

.header{
    background: #DCDCDC;
    border-radius: 12px;
    padding: 2rem;
}

.preview-container {
    position: relative;
    display: inline-block;
}

.preview-wrapper {
    margin-top: 1rem;
    position: relative;
    display: inline-block;
}

.preview-image {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 150px; /* Altura máxima, ajuste conforme necessário */
    display: block; /* Remove a margem inferior residual em alguns casos */
    margin: auto; /* Centraliza a imagem no contêiner */
}


.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.documentos ul li {
    font-weight: 300;
}

.stages {
    display: flex;
    align-items: center;
    justify-content: center;
}


label {
    font-weight: 300;
}

.numbers {
    display: flex;
    width: fit-content;
    top: 3px;
    right: 10px;
}

.number {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid var(--CorMHAmarelo);
    background: var(--CorMHAzul);
    color: white;
}

.number span {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.number.active {
    background: var(--CorMHAmarelo);
    border: 2px solid var(--CorMHAzul);
    opacity: 1;

}

.number.active span {
    color: var(--CorMHAzul);
}

#add-dependente{
    display: none;
}

::placeholder, select option {
    font-weight: 200;
}

.dependente {
    border-left: 3px solid var(--CorMHAmarelo);
    margin-bottom: 12px;
}

.progress-bar {
    background: var(--CorMHAzul);
}

.next , .entrar {
    background-color: var(--CorMHAzul);
    border-color: var(--CorMHAzul);
}

.excluir-dependente {
    display: none;
}

.nomeUser{
    color: #0E3178;
    font-size: 1rem;
    font-weight: 500;
}

.next:hover, .entrar:hover {
    background-color: var(--Branco);
    color: var(--CorMHAzul);
    border-color: var(--CorMHAzul);
}

.prev {
    background-color: var(--CorMHAmarelo);
    border-color: var(--CorMHAmarelo);
}

.prev:hover {
    background-color: var(--Branco);
    border-color: var(--CorMHAmarelo);
    color: var(--CorMHAmarelo);
}

.existing-images {
    max-height: 500px;  
    width: 50%;
}

.formasdepagamento{
    border: solid 2px #0e31781e;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem 0 1rem 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

/* PÁGINA DE OBRIGADO */
.infosPropostaSucess{
    width: 60%;
    background: #0E3178;
    color: #FFFFFF;
    padding: 5rem;
    border-radius: 12px;
    justify-content: center;
}

.invalid-field {
    border: 1px solid red;
}

.infosPropostaSucess p{
    font-weight: 300;
    color: #FFFFFF;
    text-align: justify;
}

.infosPropostaSucess h1{
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    border-radius: 12px;
}

.infosPropostaSucess h2{
    background: #BE7512;
    padding: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 12px;
}

.bodySucess{
    background-image: url();
}

.valid-feedback, .invalid-feedback {
    display: none;
    margin-top: 5px;
}

.valid-feedback::before {
    content: '\2714 CPF Válido'; /* Checkmark Unicode character */
    color: green;
    margin-right: 5px;
}

.invalid-feedback::before {
    content: '\26A0 CPF Inválido'; /* Warning Unicode character */
    color: red;
    margin-right: 5px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    animation: slide-in 2s;
}

.aviso{
    font-size: 0.7rem;
    color: #0e3178;
    font-weight: 400;
}

@keyframes slide-in {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes leap {
    0% {
        transform: translateY(0);
    }

    7% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
        opacity: 0.5;
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.dot {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.dot:nth-child(1) {
    background-color: var(--CorMHAzul);
    animation: leap 1s ease-in-out alternate 0.4s infinite;
}

.dot:nth-child(2) {
    background-color: var(--CorMHAmarelo);
    animation: leap 1s ease-in-out alternate 0.6s infinite;
}

.dot:nth-child(3) {
    background-color: var(--borderInputDefault);
    animation: leap 1s ease-in-out alternate 0.8s infinite;
}

#customAlert {
    width: 50%;
    position: fixed;
    top: 0;
}

.btn-close {
    background: #0000;
    border: none;
}