:root {
    --CorMHAmarelo: #BE7512;
    --CorMHAzul: #0E3178;
    --Branco: #ffffff;
    --Cinza: #DCDCDC;
    --Preto: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--Cinza);
}

main{
    display: flex;
    width: 21cm;
    flex-direction: column;
    min-height: 100vh;
    background: var(--Branco);
    margin: auto;
    padding: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.096);
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Cinza);
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
}

button{
    width: fit-content;
}

.content{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
}

.infos{
    background: var(--CorMHAzul);
    color:#ffffff;
}

.valores{
    background: var(--Branco);
    color: var(--Preto);
}

h1 {
    background: var(--CorMHAmarelo);
    color: var(--Branco);
    font-size: 18px;
    padding: 6px;
    font-variant: small-caps;
}

.dados p{
    font-weight: bold;
    font-size: 12px;
    padding: 0;
}
.dados span{
    font-weight: 400;
}

.dados{
    line-height: 1;
}

.a4 {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    page-break-after: always;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    text-align: end;
    justify-content: space-between;
    font-size: 12px;
}

@page {
    size: A4;
    margin: 0;
}