:root {
    --CorMHAmarelo: #BE7512;
    --CorMHAzul: #0E3178;
    --Branco: #ffffff;
    --Cinza: #DCDCDC;
}

body {
    font-family: 'Kanit', sans-serif;
    padding: 20px;
}

.content{
    width: auto;
}


#bodyLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: var(--CorMHAmarelo);
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    font-family: 'Kanit', sans-serif;
}

#bodyImplantacoes {
    background-color: var(--Cinza);
    font-family: 'Kanit', sans-serif;
    padding: 20px;
}

.contentImplantacoes{
    background: var(--Branco);
    border-radius: 20px;
    padding: 20px;
}

.containerLogin{
    width: 30%;
    background-color: var(--Cinza); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset;
}

.preview-container {
    position: relative;
    display: inline-block;
}

.preview-wrapper {
    margin-top: 1rem;
    position: relative;
    display: inline-block;
}

.preview-image {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 150px; /* Altura máxima, ajuste conforme necessário */
    display: block; /* Remove a margem inferior residual em alguns casos */
    margin: auto; /* Centraliza a imagem no contêiner */
}


.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.documentos ul li {
    font-weight: 300;
}


label {
    font-weight: 300;
}

::placeholder, select option {
    font-weight: 200;
}

#Naoeresponsavel {
    display: none;
}

.dependente {
    border-left: 3px solid var(--CorMHAmarelo);
    margin-bottom: 12px;
}

.progress-bar {
    background: var(--CorMHAzul);
}

.next , .entrar {
    background-color: var(--CorMHAzul);
    border-color: var(--CorMHAzul);
}

.excluir-dependente {
    display: none;
}

.next:hover, .entrar:hover {
    background-color: var(--Branco);
    color: var(--CorMHAzul);
    border-color: var(--CorMHAzul);
}

.prev {
    background-color: var(--CorMHAmarelo);
    border-color: var(--CorMHAmarelo);
}

.prev:hover {
    background-color: var(--Branco);
    border-color: var(--CorMHAmarelo);
    color: var(--CorMHAmarelo);
}

.existing-images {
    max-height: 500px; 
    overflow-y: auto; 
}

.formasdepagamento{
    border: solid 2px #0e31781e;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem 0 1rem 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
}