<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cadastro de Entidades e Profissões</title>
        <link
            rel="icon"
            type="image/png"
            href="./img/faviconV2_mounthermon.png"
            sizes="32x32"
        />

        <!-- IMPORTAÇÕES JQUERY  -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"
            integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

        <!-- IMPORTAÇÕES BOOTSTRAP  -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />

        <!-- IMPORTAÇÕES FONTES GOOGLE -->
        <link
            href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500;900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
    </head>
    <body>
        <%- include('navbar') %>
        <div class="alert alert-success alert-dismissible fade show fixed-top" role="alert" id="Message"
            style="display:none">
            Sucesso!
        </div>
        <div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert" id="MessageError"
            style="display:none">
            Erro!
        </div>
        <div class="container mt-5 content">
            <form id="entidade-parametros-form" class="container mt-5">
                <div class="mb-3">
                  <label for="id_entidade" class="form-label">Entidade:</label>
                  <select id="id_entidade" name="id_entidade" class="form-select" required>
                    <!-- As opções serão carregadas dinamicamente -->
                  </select>
                  <input type="hidden" id="nome_entidade" name="nome_entidade" value="ABRAER">
                </div>
              
                <div class="mb-3">
                  <label for="forma_pagamento" class="form-label">Forma de Pagamento:</label>
                  <select id="forma_pagamento" name="forma_pagamento" class="form-select" required>
                    <option value="À vista">À vista</option>
                    <option value="Cartão Parcelado">Cartão Parcelado</option>
                    <option value="Cartão à vista">Cartão à vista</option>
                    <option value="Boleto à vista">Boleto à vista</option>
                    <option value="Boleto 2x">Boleto 2x</option>
                    <option value="Boleto 3x">Boleto 3x</option>
                    <option value="Boleto 4x">Boleto 4x</option>
                    <option value="Boleto 12x">Boleto 12x</option>
                    <option value="Boleto Parcelado">Boleto Parcelado</option>
                  </select>
                </div>
              
                <div class="mb-3">
                  <label for="codigo_ds" class="form-label">Código DS:</label>
                  <input type="text" id="codigo_ds" name="codigo_ds" class="form-control" required>
                </div>
              
                <div class="mb-3">
                  <label for="id_operadora" class="form-label">Operadora:</label>
                  <select id="id_operadora" name="id_operadora" class="form-select" required>
                    <!-- As opções serão carregadas dinamicamente -->
                  </select>
                </div>
              
                <button type="submit" class="btn btn-primary mb-3">Salvar</button>
            </form>
              <table id="entidades-parametros-table" class="table table-striped table-hover">
                <thead class="table-dark">
                  <tr>
                    <th>ID Entidade</th>
                    <th>Nome Entidade</th>
                    <th>Forma de Pagamento</th>
                    <th>Código DS</th>
                    <th>Operadora</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- As linhas serão carregadas dinamicamente -->
                </tbody>
              </table>
        </div>
        
    </body>
    <script src="/js/jsEntidade-parametros.js"></script>
</html>
