<!-- aceito de termos -->
<div class="form-group">
    <h5>Aceite da Política de Privacidade e LGPD</h5>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="aceitoTermos" name="aceitoTermos" required>
        <label class="form-check-label" for="aceitoTermos">
            Eu aceito e concordo com os <a href="https://mounthermon.com.br/politica-de-privacidade-e-lgpd/" target="_blank">Termos de uso e política de
                privacidade</a> da MountHermon
        </label>
    </div>
</div>