<!-- ENVIO DE DOCUMENTOS -->
<div id="page" class="site">
    <label>Agora precisamos que nos envie seus documentos, uma cópia da sua CNH frente e verso e um comprovante de residência, pode ser uma foto ou o arquivo PDF, desde que as informações sejam legíveis. </label>
    <p> Anexe o arquivo em seguida arraste a tela para baixo para verificar se foi concluído o upload do arquivo</p>
    <div class="containerUpload">
        <div class="file-upload"> 1
            <input type="file" name="file-input" class="file-input" multiple="multiple" required>
            <div class="icon">
                <ion-icon name="arrow-up-outline"></ion-icon>
            </div>
            <h3>Arraste e solte os arquivos aqui</h3>
            <span> Ou </span>
            <strong> Procurar </strong>
            <button class="remove">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>
        <div class="list-upload">
            <ul>
            </ul>
        </div>
    </div>
</div>