<h3 class="text-center mt-3"> Aguarde, estamos processando a sua contratação </h3>
<div class="loader mt-3 mb-3">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>