<!-- Dados responsável financeiro -->
<div class="form-group">
    <label>O titular é o responsável Financeiro?</label>
    <select class="form-control required" id="titularresponsavelfinanceiro" name="titularresponsavelfinanceiro"
        onchange="handleTitularResponsavelChange.call(this)">
        <option value="Sim">Sim</option>
        <option value="Não">Não</option>
    </select>
</div>
<div id="Naoeresponsavel">
</div>