<!-- dependentes -->
<div class="form-group">
    <label>Possui Dependentes?</label>
    <select class="form-control required" id="possuidependentes" onchange="handlePossuiDependentesChange.call(this)">
        <option value="Não">Não</option>
        <option value="Sim" required>Sim</option>
    </select>
</div>
<input type="hidden" class="nDependentes" value="1" name="nDependentes">
<div id="existeSim">
</div>
</br>
<div class="row border-left" id="add-dependente">
    <button class="btn btn-success adicionar-dependente" onclick="handleAdicionarDependenteClick.call(this)">Adicionar
        dependente</button>
</div>
</br>