<!-- ENVIO DE DOCUMENTOS -->
<div id="page" class="site">
    <label>Agora precisamos que nos envie seus documentos:</label>
    <ul>
        <li>
            Uma cópia da sua CNH frente e verso
        </li>
        <li>
            Um comprovante de residência (conta de luz, água, telefônia ou internet)
        </li>
        <li>
            Documento de eleigibilidade da entidade de classe conforme profissão selecionada;
        </li>
    </ul> 
    
    <p>
        Pode ser uma foto ou o arquivo PDF, desde que as informações sejam legíveis
    </p>
    <p> 
        Anexe um documento por vez e aguarde o carregamento dele na parte de baixo da tela. <br>
        Aguarde os 100% do carregamento antes de selecionar um novo arquivo.
    </p>
    <div class="containerUpload">
        <div class="file-upload"> 1
            <input type="file" name="file-input" class="file-input">
            <div class="icon">
                <ion-icon name="arrow-up-outline"></ion-icon>
            </div>
            <h3>Arraste e solte os arquivos aqui</h3>
            <span> Ou </span>
            <strong> Procurar </strong>
            <button class="remove">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>
        <div class="list-upload attachment-required">
            <ul>
            </ul>
        </div>
    </div>
</div>