<h1>Aceito dos Termos</h1>
<div class="form-group">
    <label for="formaPagamento">Forma de Pagamento:</label>
    <div class="custom-control custom-radio">
        <input type="radio" id="pgtoAnualAvista" name="formaPagamento" class="custom-control-input" value="1" required>
        <label class="custom-control-label" for="pgtoAnualAvista"> Valor anual á vista para pgto no boleto ou pix
            <strong>R$ <%= planoSelecionado.pgtoAnualAvista %> </strong>
        </label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="formaPagamento" id="pgtoAnualCartao" class="custom-control-input" value="2" required>
        <label class="custom-control-label" for="pgtoAnualCartao">Valor anual no cartão de crédito em 12x de <strong> R$
                <%= (planoSelecionado.pgtoAnualCartao / 12).toFixed(2) %> </strong>
        </label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="formaPagamento" id="pgtoAnualCartao3x" class="custom-control-input" value="3"
            required>
        <label class="custom-control-label" for="pgtoAnualCartao3x"> Anual cartão em 3x de <strong> R$ <%=
                    (planoSelecionado.pgtoAnualCartao3x / 3).toFixed(2) %> </strong>
        </label>
    </div>
</div>