<!DOCTYPE html>
<html>

<head>
    <title>Dental - Mount Hermon</title>
    <link rel="icon" type="image/png" href="./img/faviconV2_mounthermon.png" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500;900&display=swap" rel="stylesheet">
</head>

<body id="bodyLogin">
    <div class="containerLogin">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <img src="./img/logomounthermonoriginal.png" width="30%">
          </div>          
        <h3 class="text-center"> Ecommerce Dental - Gestão </h3>
        <form id="login-form" action="/login-verifica" method="post">
            <div class="form-group">
              <label for="username">Usuário:</label>
              <input type="text" class="form-control" id="username" placeholder="Digite seu usuário" name="username">
            </div>
            <div class="form-group">
              <label for="password">Senha:</label>
              <input type="password" class="form-control" id="password" placeholder="Digite sua senha" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            <% if (typeof error !== 'undefined' && error) { %>
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            <% } %>
          </form>
    </div>
    <div class="fixed-bottom"></div>
</body>

</html>