<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">

    <title>Navbar</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <div class="align-items-center">
                <img src="/img/LogoMountHermonBranca.png" width="30%">
              </div> 
              <br>
              <br>
            <h1>Ecommerce Dental</h1>
            
            <li><a href="/implantacoes"><i class="bi bi-arrow-down-right-circle-fill"></i> Implantações</a></li>
            <li><a href="/planos"><i class="bi bi-heart"></i> Planos</a></li>
            <li><a href="/entidades"><i class="bi bi-ubuntu"></i> Entidades</a></li>
            <li><a href="/corretoras"><i class="bi bi-building-fill-add"></i> Corretoras</a></li>
            <li><a href="/corretores"><i class="bi bi-person-bounding-box"></i></i> Corretores</a></li>
            <li><a href="/files"><i class="bi bi-image"></i> Midia</a></li>
            <li><a href="/logout"><i class="bi bi-box-arrow-left"></i> Sair</a></li>
        </ul>
    </div>
</body>

</html>